body {
    background-image: url("../Images/back.jpg")
}

#header {
 background-color:rgb(67 235 235/0.41);
 color: white;
 text-align: center;
 padding: 0px;
 margin:0px;
 height:100px;
}


#header h1 {
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size:80px;
}

#menu {
    background-color:lightblue;
    color: white;  
    text-align: center;
    font-size:30px;
    padding:0px;
  }

main {
    display:flex;
    flex-direction:row;
}
#sidebar {
    background-color: black;
    color: white;    
    width:25%;
}

#content {
    color: black;
    width: 75%;
}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    height:40px;
    clear:both;
    
}

    #footer p {
        padding:0px;
        margin:0px;

    }
#sidebar img{

    width:100%;
    padding-top:10px;
}

h2 {
    text-align: center;
}

th {
    margin: 20px;
}

td {
    margin: 20px;
}

#homeindex {
    text-align:center;
}