<link href="~/Content/Main.css" rel="stylesheet" />

    <div id="header">
        <h1>Sistema Vuelos</h1>
    </div>


    <div id="menu">
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Vuelos", "Index", "Vuelo")
        
    </div>
    <main>
        <div id="sidebar">

            @if (IsSectionDefined("SideBarIzquierda"))
            {
                @RenderSection("SideBarIzquierda")
            }
            else
            {
                <h2>Aviones</h2>
                <img src="~/Images/aviones.jpg" />
                <img src="~/Images/aviones-655x368.jpeg" />
                <img src="~/Images/Imagen-portada-adaptada-2.jpg" />
            }

        </div>


        <div id="content">
            @RenderBody()
        </div>


    </main>
   


    <div id="footer">
        <p>info@Vuelo.com</p>
    </div>
