
@{
    ViewBag.Title = "Home Index";
}
<link href="~/Content/Main.css" rel="stylesheet" />
<div id="homeindex">
    <h1>Bienvenidos al sitio Web!!</h1>
    <p><b>Fecha: </b>@ViewBag.Fecha</p>

    <h5>@Html.ActionLink("Ir a Vuelos", "Index", "Vuelo")</h5>
</div>
