
@{
    ViewBag.Title = "Home Index";
}
<link href="~/Content/Main.css" rel="stylesheet" />
<h1>Bienvenidos al sitio Web!!</h1>
<h3>Fecha: </h3><p>@ViewBag.Fecha</p>

<h5>@Html.ActionLink("Ir a Vuelos", "Index", "Vuelo")</h5>